.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
**/.next
**/node_modules
**/__pycache__
dist
htmlcov
playwright-report
test-results
.env
.env.*
!.env.example
!.env.production.example
*.egg-info
*.py[cod]
*.sqlite3
